<div class="container mt-5">
      <form method="POST" action="">

            <div class="form-group">
                  <label for="exampleInputPassword1">Tìm kiếm</label>
                  <input type="text" class="form-control" name="q" placeholder="Enter your key...">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
<h1>day la search</h1>